<div class="modal-header">
  <h4 class="modal-title">Invitation</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="d-flex flex-column">
    <p>Nouvelle invitation de la part de {{ roomEvent.sender }} à rejoindre room : {{ roomEvent.roomName }}</p>
  </div>
</div>
<div class="modal-footer">
  <button mat-flat-button>Accept</button>

  <button mat-raised-button style="">Reject</button>
</div>
