.user-to-invite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 5px;
  width: 100% !important;
  min-height: 50px !important;
  border-radius: 10%;
  background-color: #eceeef;
  cursor: pointer;
}

.selected-member {
  background-color: #005cbb !important;
  color: white; // Optional: better contrast
}
