/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

.search-field {
  background-color: #eceeef !important;
  outline: none !important;
  border: none;
  width: 80%;
}

.left-side {
  width: 30% !important;
}

.right-side {
  width: 65%;
}

.connected {
  height: 20%;
}

.card-user {
  width: 70px !important;
  height: 70px !important;
}
