/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

.search-field {
  background-color: #eceeef !important;
  outline: none !important;
  border: none;
  width: 85%;
}

.main-container {
  display: flex;
  flex-direction: row;
  background-color: #f7f7ff;
  height: 100% !important;
}

.left-side {
  width: 30% !important;
  margin-right: 20px;
}

.right-side {
  width: 70% !important;
}

.container-search {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem !important;
  margin-bottom: 2px !important;
  margin-left: 20px !important;
}

.container-small {
  height: 15% !important;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem !important;
  margin-bottom: 2px !important;
  margin-left: 20px !important;
  overflow-y: hidden;
}

.connected {
  height: 20%;
}

.card-user {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 80px !important;
  min-height: 80px !important;
  border-radius: 15%;
  background-color: #eceeef !important;
  cursor: pointer;
}

.name {
  width: 85%;
  font-weight: 600;
  overflow: clip !important;
  cursor: default !important;
}

.container-rooms {
  display: flex;
  flex-direction: column;
  margin-top: 1rem !important;
  margin-bottom: 0.2rem !important;
  margin-left: 20px !important;
}

.room {
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: #f5f7fb;
  cursor: pointer;
}
.room:hover {
  background-color: #e6ebf5;
}

.room-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.time-msg {
  margin-right: 10px;
}

.time-msg:hover {
  background-color: #e6ebf5;
}

.room-content {
  display: flex;
  flex-direction: column;
}

.input-group {
  height: 50px !important;
  margin-bottom: 2px !important;
}

.input-group-text {
  font-size: 15px !important;
  padding: 0.5rem 1rem;
}

p {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 1530px) {
  .icon-search {
    display: none !important;
  }
  .search-field {
    width: 100%;
  }
}

.empty-room {
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.empty-room:hover {
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e6ebf5;
}

@media screen and (max-width: 1520px) {
  .container-small {
    height: 25% !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem !important;
    margin-bottom: 2px !important;
    margin-left: 20px !important;
    overflow-y: hidden;
  }
  .room {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #f5f7fb;
    cursor: pointer;
  }
  .room:hover {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #e6ebf5;
    cursor: pointer;
  }
  .room-info {
    display: flex !important;
    flex-direction: row;
    align-items: center;
  }
  p {
    white-space: normal;
  }
}

@media screen and ((max-width: 750px) or (max-height: 615px)) {
  .left-side {
    width: 95% !important;
    margin-right: 20px;
  }

  .right-side {
    height: 100% !important;
    width: 100% !important;
  }

  .main-container {
    display: flex !important;
    flex-direction: column !important;
    background-color: #f7f7ff !important;
    height: 100% !important;
  }
  .container-small {
    height: 25% !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem !important;
    margin-bottom: 2px !important;
    margin-left: 20px !important;
    overflow-y: hidden;
  }

  .container-rooms {
    height: 250px !important;
    display: flex;
    flex-direction: column;
    margin-top: 1rem !important;
    margin-bottom: 0.2rem !important;
    margin-left: 20px !important;
  }

  .room {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f5f7fb;
    cursor: pointer;
  }
  .room:hover {
    width: 100%;
    min-height: 90px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e6ebf5;
  }

  .room-info {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
  }

  .empty-room {
    width: 100%;
    height: 90px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .empty-room:hover {
    width: 100%;
    height: 90px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    background-color: #e6ebf5;
  }

  p {
    white-space: normal;
  }
}
