/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

.search-field {
  background-color: #eceeef !important;
  outline: none !important;
  border: none;
  width: 85%;
}

.left-side {
  width: 30% !important;
  height: 100% !important;
  margin-right: 20px;
}

.right-side {
  width: 100% !important;
  height: 100% !important;
}

.container-search {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem !important;
  margin-bottom: 2px !important;
  margin-left: 20px !important;
}

.container-small {
  height: 15% !important;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem !important;
  margin-bottom: 2px !important;
  margin-left: 20px !important;
  overflow-y: hidden;
}

.connected {
  height: 20%;
}

.card-user {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 80px !important;
  min-height: 80px !important;
  border-radius: 15%;
  background-color: #eceeef !important;
  cursor: pointer;
}

.name {
  width: 85%;
  font-weight: 600;
  overflow: clip !important;
  cursor: default !important;
}

.container-rooms {
  display: flex;
  flex-direction: column;
  margin-top: 1rem !important;
  margin-bottom: 0.2rem !important;
  margin-left: 20px !important;
  height: 100% !important;
  width: 100% !important;
}

.room {
  width: 100% !important;
  height: 15% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: #f5f7fb;
  cursor: pointer !important;
}
.room:hover {
  background-color: #e6ebf5;
}

.room-content {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input-group {
  height: 100% !important;
  margin-bottom: 2px !important;
}

.input-group-text {
  font-size: 15px !important;
  padding: 0.5rem 1rem;
}
