<jhi-navbar></jhi-navbar>
<div class="d-flex flex-row ml2-l" style="background-color: #f7f7ff">
  <div class="d-flex flex-column left-side">
    <div class="container-small">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"> <fa-icon icon="search"></fa-icon></span>
        <input
          type="text"
          class="search-field"
          placeholder="search messages or users"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>

    <div (wheel)="onWheelScroll($event)" class="container-small horizontal-scrollbar">
      <div class="card-user">
        <div class="d-flex flex-column align-items-center mt-1">
          <div class="d-flex flex-column align-items-end">
            <img class="rounded-circle avatar mb-1" src="content/images/avatar.png" />
            <span class="user-status"></span>
          </div>

          <span ngbTooltip="This is a tooltip!" class="name">aaaaaaaaaaaaaaaaaaaaaaaa</span>
        </div>
      </div>

      <div class="card-user">
        <div class="d-flex flex-column align-items-center mt-1">
          <div class="d-flex flex-column align-items-end">
            <img class="rounded-circle avatar mb-1" src="content/images/avatar.png" />
            <span class="user-status"></span>
          </div>

          <span ngbTooltip="This is a tooltip!" class="name">aaaaaaaaaaaaaaaaaaaaaaaa</span>
        </div>
      </div>

      <div class="card-user">
        <div class="d-flex flex-column align-items-center mt-1">
          <div class="d-flex flex-column align-items-end">
            <img class="rounded-circle avatar mb-1" src="content/images/avatar.png" />
            <span class="user-status"></span>
          </div>

          <span ngbTooltip="This is a tooltip!" class="name">aaaaaaaaaaaaaaaaaaaaaaaa</span>
        </div>
      </div>
    </div>

    <div></div>
  </div>

  <div class="w-70"></div>
</div>
