<jhi-navbar></jhi-navbar>
<div class="d-flex flex-row ml2-l" style="background-color: #f7f7ff">
  <div class="d-flex flex-column left-side">
    <div class="mt-3 mb-2" style="margin-left: 20px">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"> <fa-icon icon="search"></fa-icon></span>
        <input
          type="text"
          class="search-field"
          placeholder="search messages or users"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>

    <div class="connected"></div>

    <div></div>
  </div>

  <div class="w-70"></div>
</div>
