/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

.search-field {
  background-color: #eceeef !important;
  outline: none !important;
  border: none;
  width: 80%;
}

.left-side {
  width: 30% !important;
}

.right-side {
  width: 65%;
}

.container-small {
  display: flex;
  flex-direction: row;
  margin-top: 1rem !important;
  margin-bottom: 0.2rem !important;
  margin-left: 20px !important;
}

.connected {
  height: 20%;
}

.card-user {
  margin-left: 5px;
  margin-right: 5px;
  width: 80px !important;
  height: 80px !important;
  border-radius: 15%;
  background-color: #eceeef !important;
}

.name {
  width: 85%;
  font-weight: 600;
  overflow: clip !important;
  cursor: default !important;
}

.avatar {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: cover;
  border-radius: 50% !important;
}

.user-status-box {
  background-color: #06d6a0;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  margin-top: 16px;
  display: block;
}

.user-status {
  width: 10px;
  height: 10px;
  background-color: #06d6a0;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -8px !important;
  bottom: 0;
}
