@if (chatRoomSummary) {
  <div style="height: 100% !important; background-color: white">
    <div class="container-msg">
      <div class="container-msg-header">
        <div class="d-flex flex-row align-items-center">
          @if (oneMember) {
            @if (oneMember.imageUrl) {
              <img class="rounded-circle avatar mb-1" [src]="oneMember.imageUrl" />
            } @else {
              <img class="rounded-circle avatar mb-1" src="content/images/avatar.png" />
            }
            <h5>{{ oneMember.fullName }}</h5>
            <span
              class="user-status"
              [ngStyle]="
                oneMember.state === 'ACTIVE'
                  ? { 'background-color': '#06d6a0' }
                  : oneMember.state === 'ABSENT'
                    ? { 'background-color': '#FFAB0EFF' }
                    : {}
              "
            ></span>
          } @else {
            <div class="d-flex flex-row align-items-center">
              <h5>{{ chatRoomSummary.name }}</h5>
              <fa-icon [icon]="iconsUsers" ngbTooltip="view members"></fa-icon>
            </div>
          }
        </div>

        <div>
          <fa-icon [icon]="iconSearch"></fa-icon>

          <fa-icon [icon]="iconPhone"></fa-icon>

          <fa-icon [icon]="iconCamera"></fa-icon>

          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button type="button" class="btn" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
              <fa-icon [icon]="iconListAlt"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              @if (account?.login === chatRoomSummary.createdBy) {
                <button ngbDropdownItem (click)="inviteMembers()">Invite members</button>
              }
              <button ngbDropdownItem>Mute / Unmute</button>
              <button ngbDropdownItem>Left room</button>
              @if (account?.login === chatRoomSummary.createdBy) {
                <button ngbDropdownItem>Delete room</button>
              }
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div #msgBodyElement class="container-msg-body vertical-scrollbar" jhiContentScroll>
        @for (msg of messages; track $index) {
          @if (account) {
            <div [ngClass]="account.login === msg.sender.login ? 'chat-msg-looged' : 'chat-msg-other'">
              @if (account.login === msg.sender.login) {
                <div>
                  @if (msg.sender.imageUrl) {
                    <img class="rounded-circle avatar mb-1" [src]="msg.sender.imageUrl" />
                  } @else {
                    <img class="rounded-circle avatar mb-1" src="content/images/avatar.png" />
                  }
                </div>
                <div class="d-flex flex-column">
                  <div class="d-flex flex-column text-wrap-content-looged">
                    <div>{{ msg.content }}</div>
                    <div class="time-msg-looged">{{ msg.sentAt | formatTimestamp }}</div>
                  </div>
                  <div class="conversation-name">{{ msg.sender.fullName }}</div>
                </div>
              } @else {
                <div class="d-flex flex-column">
                  <div class="d-flex flex-column text-wrap-content-other">
                    <div>{{ msg.content }}</div>
                    <div class="time-msg-other">{{ msg.sentAt | formatTimestamp }}</div>
                  </div>
                  <div class="conversation-name">{{ msg.sender.fullName }}</div>
                </div>
                <div>
                  @if (msg.sender.imageUrl) {
                    <img class="rounded-circle avatar mb-1" [src]="msg.sender.imageUrl" />
                  } @else {
                    <img class="rounded-circle avatar mb-1" src="content/images/avatar.png" />
                  }
                </div>
              }
            </div>
          }
        }
      </div>
      <hr />
      <div class="container-msg-footer">
        <div class="text-msg">
          <textarea type="text" [(ngModel)]="message" placeholder="Enter Message..." class="input-msg"></textarea>
        </div>

        <div class="action">
          <fa-icon [icon]="iconFile"></fa-icon>
          <button mat-mini-fab (click)="sendMessage()" (keyup.enter)="sendMessage()">
            <fa-icon [icon]="iconArrow"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
} @else {
  <!--  <div class="d-flex justify-content-center align-items-center">-->

  <!--  </div>-->
}
